<div class="offer-box">
    <div class="offer-box__image">
        <img src="<%= medium %>">
    </div>
    <h1><%= name %></h1>
    <p><%= type %></p>
    <label>
        <input type="checkbox" name="product" value="<%= sku %>">
        $<%= price %>/mo
    </label>
</div>
